<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<script>
var id;
</script>
<body>

 <h1>Home Page</h1>
 <div id="greeting" class="greeting"></div>
 <p id="userId" ></p> 
 <p>Create a User</p>
 <!--  <form method="post" action="/createUser"> -->
 Name: <input type="name" class="name1" id="name1" name="name1"></input><br>
 Password: <input type="password" class="pass1" id="pass1" name="pass1"></input><br>
 User Name: <input type="text" class="username" id="username" name="username"></input><br>
 <input  onclick="create()" type='submit' value='Create User'></input>
 <!--</form> -->
 <p>Sign In</p>
 <!-- <form method="post" action="/signin"> -->
 User Name: <input type="name" class="name" id="name" name="name"></input><br>
 Password: <input type="password" class="pass" id="pass" name="pass"></input><br>
 <input onclick='getUserName()' type="submit" value="Enter"><br><br>
 <!-- </form> -->
 <!-- <button onclick='getUser()'>Get User</button><br>  --> 
 <div id="output" class="output"></div><br><br>
 <!-- <input type="text" class="id" id="id"></input> -->
 Exercise type<input type="text" class="exercise" id="exercise"></input>
 minutes spent exercising<input type="text" class="time" id="time"></input>
 Your current wieght<input type="text" class="weight" id="weight"></input>
 resting pulse rate (INT) <input type="text" class="pulse" id="pulse"></input>
 todays' date<input type="text" class="date" id="date"></input>
 <button onclick='insert()'>Enter Data</button><br><br>
 <!--  <input type="number" class="input" id="input"></input> -->
 <button onclick='getPulse()'>Get Pulse</button>
 <button onclick='exercise()'>Get Exercise</button>
 <button onclick='weight()'>Get Weight</button>
 
 <div> <h2 id="title" ></h2><ul id="health"></ul></div>
 



</body>
</html>
