<!DOCTYPE html>
<html>
<head>
  
</head>

<body>

 <h1>Home Page</h1>
 <input type="text" class="input" id="input"></input>
 <button onclick='getPulse()'>Get Pulse</button>
 <div id="output" class="output"></div>


</body>
</html>
