<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

 <h1>Home Page</h1>
 
 <form method="post" action="/signin">
 User Name: <input type="name" class="name" id="name" name="name"></input><br>
 Password: <input type="password" class="pass" id="pass" name="pass"></input><br>
 <input onclick='getUserName()' type="submit" value="Enter">
 </form>
 
 <input type="number" class="input" id="input"></input>
 <button onclick='getPulse()'>Get Pulse</button>
 <button onclick='exercise()'>Get Exercise</button>
 <button onclick='weight()'>Get Weight</button>
 <button onclick='getUser()'>Get User</button>
 <div id="output" class="output"></div>
 <input type="text" class="id" id="id"></input>
 <input type="text" class="exercise" id="exercise"></input>
 <input type="text" class="time" id="time"></input>
 <input type="text" class="weight" id="weight"></input>
 <input type="text" class="pulse" id="input"></input>
 <input type="text" class="date" id="date"></input>
 <button onclick='insertData()'>Enter Data</button>


</body>
</html>
