<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

 <h1>Home Page</h1>
 <p>Create a User</p>
 Name: <input type="name" class="name" id="name1" name="name1"></input><br>
 Password: <input type="password" class="pass" id="pass1" name="pass1"></input><br>
 User Name: <input type="text" class="name" id="username" name="username"></input><br>
 <button onclick='createUser()'>Create User</button>
 <p>Sign In</p>
 <form method="post" action="/signin">
 User Name: <input type="name" class="name" id="name" name="name"></input><br>
 Password: <input type="password" class="pass" id="pass" name="pass"></input><br>
 <input onclick='getUserName()' type="submit" value="Enter">
 </form>
 <button onclick='getUser()'>Get User</button><br>
 Enter integer between 1 and 4 <input type="number" class="input" id="input"></input>
 <button onclick='getPulse()'>Get Pulse</button>
 <button onclick='exercise()'>Get Exercise</button>
 <button onclick='weight()'>Get Weight</button>
 
 <div id="output" class="output"></div><br><br>
 User id (1-4)<input type="text" class="id" id="id"></input>
 Exercise type<input type="text" class="exercise" id="exercise"></input>
 minutes spent exercising<input type="text" class="time" id="time"></input>
 Your current wieght<input type="text" class="weight" id="weight"></input>
 resting pulse rate (INT) <input type="text" class="pulse" id="pulse"></input>
 todays' date<input type="text" class="date" id="date"></input>
 <button onclick='insert()'>Enter Data</button>


</body>
</html>
